In [32]:
import pandas as pd
import numpy as np
import json

In [33]:
d1 = pd.read_csv("MovieGenre.csv", encoding="latin1")
d1

,imdbId,Imdb Link,Title,IMDB Score,Genre,Poster
0,114709,http://www.imdb.com/title/tt114709,Toy Story (1995),8.3,Animation|Adventure|Comedy,https://images-na.ssl-images-amazon.com/images...
1,113497,http://www.imdb.com/title/tt113497,Jumanji (1995),6.9,Action|Adventure|Family,https://images-na.ssl-images-amazon.com/images...
2,113228,http://www.imdb.com/title/tt113228,Grumpier Old Men (1995),6.6,Comedy|Romance,https://images-na.ssl-images-amazon.com/images...
3,114885,http://www.imdb.com/title/tt114885,Waiting to Exhale (1995),5.7,Comedy|Drama|Romance,https://images-na.ssl-images-amazon.com/images...
4,113041,http://www.imdb.com/title/tt113041,Father of the Bride Part II (1995),5.9,Comedy|Family|Romance,https://images-na.ssl-images-amazon.com/images...
...,...,...,...,...,...,...
40103,83168,http://www.imdb.com/title/tt83168,Tanya's Island (1980),4.3,Drama,https://images-na.ssl-images-amazon.com/images...
40104,82875,http://www.imdb.com/title/tt82875,Pacific Banana (1981),4.7,Comedy,https://images-na.ssl-images-amazon.com/images...
40105,815258,http://www.imdb.com/title/tt815258,Werewolf in a Womens Prison (2006),4.5,Horror,https://images-na.ssl-images-amazon.com/images...
40106,79142,http://www.imdb.com/title/tt79142,Xiao zi ming da (1979),6.5,Action|Comedy,https://images-na.ssl-images-amazon.com/images...
40107,70710,http://www.imdb.com/title/tt70710,Snatched (1973),6.5,Crime|Drama|Thriller,NaN

In [34]:
d1.Title = d1.Title.apply(lambda x: x.split('(')[0].strip())

In [35]:
d1

,imdbId,Imdb Link,Title,IMDB Score,Genre,Poster
0,114709,http://www.imdb.com/title/tt114709,Toy Story,8.3,Animation|Adventure|Comedy,https://images-na.ssl-images-amazon.com/images...
1,113497,http://www.imdb.com/title/tt113497,Jumanji,6.9,Action|Adventure|Family,https://images-na.ssl-images-amazon.com/images...
2,113228,http://www.imdb.com/title/tt113228,Grumpier Old Men,6.6,Comedy|Romance,https://images-na.ssl-images-amazon.com/images...
3,114885,http://www.imdb.com/title/tt114885,Waiting to Exhale,5.7,Comedy|Drama|Romance,https://images-na.ssl-images-amazon.com/images...
4,113041,http://www.imdb.com/title/tt113041,Father of the Bride Part II,5.9,Comedy|Family|Romance,https://images-na.ssl-images-amazon.com/images...
...,...,...,...,...,...,...
40103,83168,http://www.imdb.com/title/tt83168,Tanya's Island,4.3,Drama,https://images-na.ssl-images-amazon.com/images...
40104,82875,http://www.imdb.com/title/tt82875,Pacific Banana,4.7,Comedy,https://images-na.ssl-images-amazon.com/images...
40105,815258,http://www.imdb.com/title/tt815258,Werewolf in a Womens Prison,4.5,Horror,https://images-na.ssl-images-amazon.com/images...
40106,79142,http://www.imdb.com/title/tt79142,Xiao zi ming da,6.5,Action|Comedy,https://images-na.ssl-images-amazon.com/images...
40107,70710,http://www.imdb.com/title/tt70710,Snatched,6.5,Crime|Drama|Thriller,NaN

In [36]:
d2 = pd.read_csv("tmdb_5000_movies.csv")
d2.sample()

,budget,genres,homepage,id,keywords,original_language,original_title,overview,popularity,production_companies,production_countries,release_date,revenue,runtime,spoken_languages,status,tagline,title,vote_average,vote_count
2915,0,"[{""id"": 12, ""name"": ""Adventure""}, {""id"": 80, ""...",NaN,206563,"[{""id"": 983, ""name"": ""brazilian""}, {""id"": 8029...",pt,Trash,"Set in Brazil, three kids who make a discovery...",14.637357,"[{""name"": ""O2 Filmes"", ""id"": 345}, {""name"": ""W...","[{""iso_3166_1"": ""BR"", ""name"": ""Brazil""}, {""iso...",2014-10-09,0,112.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}, {""iso...",Released,You never know what you might find,Trash,7.1,242

In [37]:
s = set(d2.title.tolist()) & set(d1.Title.tolist())

In [39]:
len(s)

4324

In [40]:
len(d2.title.tolist())

4803

In [41]:
d3 = pd.read_csv(
    'wiki_movie_plots_deduped_with_summaries.csv')
d3.sample()

,Release Year,Title,Origin/Ethnicity,Director,Cast,Genre,Wiki Page,Plot,PlotSummary
28664,2017,Aadu 2,Malayalam,Midhun Manuel Thomas,"Jayasurya, Dharmajan Bolgatty, Saiju Kurup, Vi...",unknown,https://en.wikipedia.org/wiki/Aadu_2,Shaji goes on with life in his regular heroism...,Shaji goes on with life in his regular heroism...

In [46]:
m1 = pd.merge(d3.Title, d2.title, how='inner')

MergeError: No common columns to perform merge on. Merge options: left_on=None, right_on=None, left_index=False, right_index=False

In [54]:
d3.Title = d3.Title.apply(lambda x: x.strip().lower())
d2.title = d2.title.apply(lambda x: x.strip().lower())

In [55]:
s2 = set(d3.Title) & set(d2.title)

In [56]:
len(s2)

3666